mixin icon-block()
  .icon-block
    .icon-block__item
      +icon('chair')
      .icon-block__content
        h5.ui-text-blue Access to Care
        p All Coloradans have affordable, accessible and comprehensive oral health care. 
    .icon-block__item
      +icon('tooth-plain')
      .icon-block__content
        h5.ui-text-purple Prevention of Tooth Decay
        p Effective programs are available for prevention and early intervention of tooth decay. 
      +icon('health')
      .icon-block__content
        h5.ui-text-orange Connections to Overall Health
        p Oral health is included as a vital part of overall health.
