mixin icon-block()
  .icon-block
    .icon-block__item
      +icon('chair')
      .icon-block__content
        h5 Lorem, ipsum dolor.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptatum.
    .icon-block__item
      +icon('tooth-plain')
      .icon-block__content
        h5 Lorem, ipsum dolor et.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptatum.
    .icon-block__item
      +icon('health')
      .icon-block__content
        h5 Lorem, ipsum dolor sit amet.
        p Voluptatum maiores fugiat id quas sequi natus nostrum quidem ducimus.
