@import "../../styles/sass-includes/index";

.main-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width:200px;
    top: 0;
    right: 0;
    height:100%;
    z-index:50;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.65));
  }
}

.main-hero__bg{
  position: absolute;
  width:100%;
  height:110%;
  left:0;
  top:-50px;
  z-index:5;
  background-position: center;
  background-size: cover;
}

.main-hero__logo{
  position: relative;
  width:213px;
  height:106px;
  z-index:10;
}
.main-hero__bottom{
  position: absolute;
  width: 100%;
  bottom:0;
  left: 0;
  background-color: $green;
  z-index:20;
  h1{
    color: $white;
    font-size: 65px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  h1 + span{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 40px;
  }
  @include responsive(960px){
    text-align: center;
  }
  @include responsive(md){
    background-color: transparentize($green, 0.2);
    h1{font-size: 50px; margin-bottom: 5px;}
    h1 + span{
      margin-bottom: 20px;
    }
  }
}
.main-hero__wrapper{
  max-width: $max-width;
  padding: 0 $edge-padding;
  margin: 0 auto;
}

@keyframes main-hero__bounce{
  0%{
    transform: translate3d(0,0,0);
  }
  100%{
    transform: translate3d(0,10px,0);
  }
}

.main-hero__down{
  position: absolute;
  top: calc(50% - 44px);
  right: 20%;
  width: 88px;
  height: 88px;
  background-color: $white;
  border-radius: 100%;
  animation: main-hero__bounce 1200ms $ease-in-quad alternate infinite both;
  svg{
    position: absolute;
    width: 46px;
    height: 46px;
    left: calc(50% - 23px);
    top: calc(50% - 23px);
    fill: $green;
  }
  @include responsive(lg){
    right:10%;
  }
  @include responsive(960px){
    position: relative;
    display: block;
    right: 0;
    top: 0;
    margin: 0 auto 20px auto;
  }
  @include responsive(md){
    width: 44px;
    height: 44px;
    svg{
      width: 22px;
      height: 22px;
      left: calc(50% - 11px);
      top: calc(50% - 11px);
    }
  }
}