mixin main-hero()
  .main-hero
    .main-hero__bg(style=`background-image: url(images/hero1.jpg)`)
    img.main-hero__logo(src="images/ddfoc_logo.svg")
    .main-hero__bottom 
      .main-hero__wrapper
        h1 Every Smile. Every Day.
        span Delta Dental of Colorado Foundation Community Update
        a.main-hero__down(href="#content-start"): +icon('double-down')