include ./helpers.pug
include main-hero/main-hero.pug
include hero/hero.pug
include img-atr/img-atr.pug
include sandwich/sandwich.pug
include icon-block/icon-block.pug
include stripes/stripes.pug
include blog-cards/blog-cards.pug
include footer/footer.pug
include graphs/graphs.pug
include nav/nav.pug
