mixin blog-cards()
  .blog-cards
    h3.blog-cards__header From the Blog
    .blog-cards__wrapper
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/blog-gap.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Closing the Gap Between Medical and Dental Care Visits
            a(href="https://blog.deltadentalco.com/2017/11/co-mdi-closing-gap-medical-dental-visits/" target="_blank") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/blog-vulnerable.jpg)")
          .blog-cards__content
            span AUG 10, 2017
            p Mission Critical: Programs That Improve Oral Health in Vulnerable Communities
            a(href="https://blog.deltadentalco.com/2017/08/mission-critical-programs-improve-oral-health-vulnerable-communities/" target="_blank") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/blog-state.jpg)")
          .blog-cards__content
            span JUN 13, 2017
            p Delta Dental of Colorado Foundation: Making Moves Across the State
            a(href="https://blog.deltadentalco.com/2017/06/delta-dental-colorado-foundation-making-moves-across-state/" target="_blank") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/blog-communities.png)")
          .blog-cards__content
            span MAY 18, 2017
            p Partnering Helps Communities Learn About Oral Health
            a(href="https://blog.deltadentalco.com/2017/05/partnering-helps-communities-learn-oral-health/" target="_blank") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/blog-rural.png)")
          .blog-cards__content
            span APR 20, 2017
            p Hygienist Breaks Down Access to Dental Care Barriers in Rural Colorado
            a(href="https://blog.deltadentalco.com/2017/04/hygienist-breaks-access-dental-care-barriers-rural-colorado/" target="_blank") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/blog-kids.png)")
          .blog-cards__content
            span MAR 23, 2017
            p Colorado Kids Leading the Way with Healthy Choices
            a(href="https://blog.deltadentalco.com/2017/03/colorado-kids-leading-way-healthy-choices/" target="_blank") Read More
