mixin blog-cards()
  .blog-cards
    h3.blog-cards__header From the Blog
    .blog-cards__wrapper
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/placer.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eaque!
            a(href="#") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/placer.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eaque!
            a(href="#") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/placer.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eaque!
            a(href="#") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/placer.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eaque!
            a(href="#") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/placer.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eaque!
            a(href="#") Read More
      .blog-cards__item
        .blog-cards__container
          .blog-cards__image(style="background-image: url(images/placer.jpg)")
          .blog-cards__content
            span NOV 30, 2017
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, eaque!
            a(href="#") Read More
