//NEXA
//BOLD
@font-face {
  font-family: 'Nexa';
  font-weight: 800;
  font-style: italic;
  src: url('../fonts/367811_0_0.eot');
  src: url('../fonts/367811_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/367811_0_0.woff2') format('woff2'), url('../fonts/367811_0_0.woff') format('woff'), url('../fonts/367811_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/367811_1_0.eot');
  src: url('../fonts/367811_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/367811_1_0.woff2') format('woff2'), url('../fonts/367811_1_0.woff') format('woff'), url('../fonts/367811_1_0.ttf') format('truetype');
}

//REGULAR
@font-face {
  font-family: 'Nexa';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/367811_4_0.eot');
  src: url('../fonts/367811_4_0.eot?#iefix') format('embedded-opentype'), url('../fonts/367811_4_0.woff2') format('woff2'), url('../fonts/367811_4_0.woff') format('woff'), url('../fonts/367811_4_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/367811_5_0.eot');
  src: url('../fonts/367811_5_0.eot?#iefix') format('embedded-opentype'), url('../fonts/367811_5_0.woff2') format('woff2'), url('../fonts/367811_5_0.woff') format('woff'), url('../fonts/367811_5_0.ttf') format('truetype');
}

//LIGHT
@font-face {
  font-family: 'Nexa';
  font-weight: 200;
  font-style: italic;
  src: url('../fonts/367811_2_0.eot');
  src: url('../fonts/367811_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/367811_2_0.woff2') format('woff2'), url('../fonts/367811_2_0.woff') format('woff'), url('../fonts/367811_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/367811_3_0.eot');
  font-style: normal;
  src: url('../fonts/367811_3_0.eot?#iefix') format('embedded-opentype'), url('../fonts/367811_3_0.woff2') format('woff2'), url('../fonts/367811_3_0.woff') format('woff'), url('../fonts/367811_3_0.ttf') format('truetype');
}
