@import "sass-includes/index";

.ui-container{
  display: block;
  max-width: $max-width;
  padding: 0 $edge-padding;
  margin: 40px auto;
  @include responsive(lg){
    padding: 0 $edge-padding*3;
  }
  @include responsive(md){
    padding: 0 $edge-padding;
  }
}

.ui-row{
    position: relative;
    @include clearfix();
    width: calc(100% + #{$edge-padding});
    margin-left: -$edge-padding/2;
    .ui-col-1, .ui-col-2, .ui-col-3,
    .ui-col-4, .ui-col-5, .ui-col-6,
    .ui-col-7, .ui-col-8, .ui-col-9,
    .ui-col-10, .ui-col-11, .ui-col-12{
      float: left;
      margin: 0 $edge-padding/2;
    }
  
    &.ui-row--reverse{
      .ui-col-1, .ui-col-2, .ui-col-3,
      .ui-col-4, .ui-col-5, .ui-col-6,
      .ui-col-7, .ui-col-8, .ui-col-9,
      .ui-col-10, .ui-col-11, .ui-col-12{
        float: right;
      }
    }
  
    .ui-col-1{width: calc(8.333% - #{$edge-padding})}
    .ui-col-2{width: calc(16.666% - #{$edge-padding})}
    .ui-col-3{width: calc(25% - #{$edge-padding})}
    .ui-col-4{width: calc(33.333% - #{$edge-padding})}
    .ui-col-5{width: calc(41.666% - #{$edge-padding})}
    .ui-col-6{width: calc(50% - #{$edge-padding})}
    .ui-col-7{width: calc(58.333% - #{$edge-padding})}
    .ui-col-8{width: calc(66.666% - #{$edge-padding})}
    .ui-col-9{width: calc(75% - #{$edge-padding})}
    .ui-col-10{width: calc(83.333% - #{$edge-padding})}
    .ui-col-11{width: calc(91.666% - #{$edge-padding})}
    .ui-col-12{width: calc(100% - #{$edge-padding})}
  
    @include responsive(lg){
      .ui-col-1, .ui-col-2,
      .ui-col-3{
        width: calc(33% - #{$edge-padding}); margin-bottom: 20px;
      }
      .ui-col-4,
      .ui-col-5,
      .ui-col-6, .ui-col-7,
      .ui-col-8{
        width: calc(50% - #{$edge-padding}); margin-bottom: 20px;
        .ui-col-4, .ui-col-5,
        .ui-col-6, .ui-col-7,
        .ui-col-8{
          width: calc(100% - #{$edge-padding}); margin-bottom: 20px;
        }
      }
      .ui-col-9, .ui-col-10,
      .ui-col-11, .ui-col-12, .ui-lg-full{
        width: calc(100% - #{$edge-padding}); margin-bottom: 20px;
      }
    }
  
    @include responsive(md){
      .ui-col-1,
      .ui-col-2,
      .ui-col-3,
      .ui-col-4,
      .ui-col-5,
      .ui-col-6,
      .ui-col-7,
      .ui-col-8,
      .ui-col-9,
      .ui-col-10,
      .ui-col-11,
      .ui-col-12{width: calc(100% - #{$edge-padding})}
    }
  }
  
  .ui-padding-top{padding-top: $edge-padding !important}
  .ui-padding-right{padding-right: $edge-padding !important}
  .ui-padding-bottom{padding-bottom: $edge-padding !important}
  .ui-padding-left{padding-left: $edge-padding !important}
  
  .ui-collapse-top{
    padding-top: 0 !important;}
  .ui-collapse-right{
    padding-right: 0 !important;}
  .ui-collapse-bottom{
    padding-bottom: 0 !important;}
  .ui-collapse-left{
    padding-left: 0 !important;}
  
  @include responsive(md){
    .ui-padding-top{padding-top: 0 !important}
    .ui-padding-right{padding-right: 0 !important}
    .ui-padding-bottom{padding-bottom: 0 !important}
    .ui-padding-left{padding-left: 0 !important}
  }
  
  .ui-margin-top{margin-top: $edge-padding !important}
  .ui-margin-right{margin-right: $edge-padding !important}
  .ui-margin-bottom{margin-bottom: $edge-padding !important}
  .ui-margin-left{margin-left: $edge-padding !important}
  
  .ui-flush-top{margin-top:0 !important}
  .ui-flush-right{margin-right:0 !important}
  .ui-flush-bottom{margin-bottom:0 !important}
  .ui-flush-left{margin-left:0 !important}
  
  .ui-pull-top{margin-top: -$edge-padding !important}
  .ui-pull-right{margin-right: -$edge-padding !important}
  .ui-pull-bottom{margin-bottom: -$edge-padding !important}
  .ui-pull-left{margin-left: -$edge-padding !important}
  
  .ui-button{
    display: inline-block;
    background-color: $gray-dark;
    color: $white;
    padding:13px 28px 10px 28px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 150%;
    transition: all 300ms $ease-out-quint;
    border: 0;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;

    svg{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-left: 15px;
      top:-4px;
      width: 26px;
      height: 20px;
      fill: $white;
      transition: all 300ms $ease-out-quint;
      &:first-child{
        margin-left: 0;
        margin-right: 10px;
      }
    }
  
    &:hover{
      background-color: $blue;
      color: $orange;
      svg{
        fill: $orange;
      }
    }

    &.ui-button--green{
      background-color: $green;
      &:hover{
        svg{
          fill: $white;
        }
        color: $white;
        background-color: $orange;
      }
    }
    &.ui-button--blue{
      background-color: $blue;
      &:hover{
        svg{
          fill: $white;
        }
        color: $white;
        background-color: $purple;
      }
    }
    &.ui-button--orange{
      background-color: $orange;
      &:hover{
        svg{
          fill: $white;
        }
        color: $white;
        background-color: $green;
      }
    }
    &.ui-button--purple{
      background-color: $purple;
      &:hover{
        svg{
          fill: $white;
        }
        color: $white;
        background-color: $blue;
      }
    }
  
  }

  .ui-border-right{
    border-right: 1px solid #D8D8D8;
  }
  .ui-border-top{
    border-top: 1px solid #D8D8D8;
  }
  .ui-piggy{
    max-width: 529px;
    max-height: 172px;
    margin-top: 30px;
    padding-right: 15px;
  }

  .ui-img-fit{
    width: 100%;
    height: auto;
  }
  
  .ui-large-text {
    font-size: 20px;
    font-family: Gotham;
    font-weight: 100;
    padding-right: 15px;
  }

  .ui-width-constraint{
    max-width: 529px;
    padding-right: 15px;
    margin-top: 30px;
  }
  .ui-title-contraint{
    max-width: 405px;
  }
  .ui-margin-bottom-35{
    margin-bottom: 55px;
  }
  .ui-quote{
    font-weight: 600;
    font-style: italic;
  }
  .ui-orangeTitle{
    font-size: 20px;
    color: #E1714A;
    margin-top: 0px;
    font-weight: bold;
  }
  .ui-gray-padding{
    background-color: #F2F2F2;
    padding: 67px 117px 57px;
    @include responsive(md){
      padding: 0;
    }
  }
  .ui-margin-top-35{
    margin-top: 35px !important;
  }
  .ui-margin-top-25{
    margin-top: 25px !important;
  }
  .ui-gray{
    background-color: #F2F2F2;
    padding: 0px 26px 55px 30px;
  }
  .ui-no-padding{
    padding: 0 !important;
  }
  .ui-margin-offset-large{
    margin-top: 75px !important;
  }
  .ui-margin-top10px{
    margin-top: 10px !important;
  }
  .ui-padding-right33{
    padding-right: 33px;
    max-width: unset !important;
  }
  .ui-medium-text{
    font-size: 20px;
  }
  .ui-noMaxWidth{
    max-width: unset;
  }
  .ui-padding-right-55{
    padding-right: 55px;
  }
  .ui-graph{
    max-height:200px;
  }

  .ui-margin-offset{
    margin-top: 15px;
    padding-right: 20px;
  }
  .ui-max-width1200{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .ui-gotham{
    font-family: Gotham;
  }
  .ui-small-text {
    font-size: 14px;
  }

  .ui-list{
    div{
      margin-bottom: 10px;
    }
    a{
      display: block;
      padding-top: 20px;
    }
  }

  .ui-text-green{color:$green;}
  .ui-text-blue{color:$blue;}
  .ui-text-orange{color:$orange;}
  .ui-text-purple{color:$purple;}
  .ui-text-gray{color:$gray-dark;}