mixin stripes()
  .stripes
    .stripes__item
      h5.stripes__title Denver Public Health
      .stripes__copy: p Denver Public Health completed evaluation reports on the utilization of newly installed water filling stations primarily serving low-income children at six schools and one recreation center in metro Denver and Pueblo. In fall 2018, they will help promote the use of the <a href="http://www.cavitiesgetaround.com/downloads/toolkit/en/Influencer-Toolkit-(English).pdf" target="_blank" class="ui-text-orange">Water Activation Influencer Toolkit</a> to increase access to and consumption of water in schools and community centers throughout Colorado.
    .stripes__item
      h5.stripes__title Children’s Museum of Denver at Marsico Campus
      .stripes__copy: p Since opening in 2015, the Village of Healthy Smiles exhibit at the Children’s Museum of Denver at Marsico Campus has had more than 550,000 visitors.
    .stripes__item
      h5.stripes__title Clinica Family Health
      .stripes__copy: p Through an  <a href="http://deltadentalcofoundation.org/wp-content/uploads/InnovationGrantRecipients_DDCOF_PR1216.pdf" target="_blank" class="ui-text-orange">innovation grant</a>, Clinica Family Health worked to integrate dental data with physical health data in the care planner. This helped diminish isolation between the two domains and achieve care planning that is collaborative and coordinated.
    .stripes__item
      h5.stripes__title Bright By Three
      .stripes__copy: p Bright By Text oral health texts were refreshed with new content, images and links to more resources. In 2017, 150,000+ texts were sent to Colorado families.
    .stripes__item
      h5.stripes__title Qualistar
      .stripes__copy: p Cavity Free Kids trainings reached 194 professionals serving 1,033 children. Trainings occurred in Durango, Fort Morgan, Loveland, Fort Collins, Denver, Thornton, Limon, Southwest Denver, Lakewood and Delta.
    .stripes__item
      h5.stripes__title University of Colorado School of Dental Medicine
      .stripes__copy: p Training dental, medical and pharmacy students together to identify the connection between oral health and physical health, the University of Colorado School of Dental Medicine concluded its first semester of a collaborative program with Johnson & Wales University where students learned how to cook nutritious meals together. The culinary class was featured in stories in <a href="https://www.denverpost.com/2017/05/02/cu-anschutz-dental-medical-students-cook-wellness-johnson-wales-university/" target="_blank" class="ui-text-orange">The Denver Post</a> and <a href="https://kdvr.com/2017/05/03/culinary-medicine/" target="_blank" class="ui-text-orange">CW2</a>. 
    .stripes__item
      h5.stripes__title American Dental Hygienists’ Association
      .stripes__copy: p In July, we hosted "National Trends Impacting The Future of Dental Hygiene", which featured Ann Batrell, chief executive officer of the American Dental Hygienists' Association. Batrell explored emerging national trends in oral health and dental hygiene; presented thoughts about the future of dental hygiene; and outlined levers for change. In addition, the lecture provided continuing education credits for hygienists.
