mixin stripes()
  .stripes
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
    .stripes__item
      h5.stripes__title Lorem, ipsum dolor.
      .stripes__copy: p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque laudantium provident libero voluptatem eveniet aliquam excepturi quas quibusdam nobis corporis.
