extends ../page.pug
block setup
  - const pageName = 'Delta'
block display
  #smiles
    +main-hero()
  
  #content-start.ui-container
    .ui-row
      .ui-col-6.ui-border-right
        p.ui-large-text.ui-text-gray For more than 20 years, Delta Dental of Colorado Foundation has been working to make good oral health a community priority. In March of 2018 we shared our new mission: <strong class="ui-text-green">to elevate the well-being of all Coloradans by advancing oral health equity.</strong>
        p.ui-width-constraint.ui-gotham.ui-margin-bottom35 We believe oral health equity means that every person can have a healthy mouth regardless of life circumstances. Our goal is to create accessible oral health care across a lifespan, reaching those who have the most to gain.
        .ui-border-top
          img.ui-img-fit.ui-piggy(src="images/piggy.jpg")
      .ui-col-6
        .ui-row.ui-padding-3040
          .nothing
            h2.ui-text-green Strategic Priorities
            p: strong We create sustainable, measurable impact within three focus areas:
          .nothing
              +icon-block()
  .ui-container.ui-padding-top.ui-gray-padding.ui-noMaxWidth
    .ui-row.ui-max-width1200.ui-small-padding
      .ui-col-6      
        img.ui-margin-offset.ui-img-fit(src="images/FoundationMap.jpg")
      .ui-col-6.ui-padding-right-55
        h2.ui-text-green.ui-title-contraint Going the Extra Mile for Every Smile
        p.ui-width-constraint.ui-gotham Every day we partner with communities to reimagine how all of our neighbors access, benefit from, and value the importance of proper oral health care. Take a look at our <a href="https://maps.foundationcenter.org/?acct=DELT035" target="_blank" class="ui-text-green">current oral health funding outreach across Colorado.</a>
        img.ui-img-fit.ui-graph(src="images/activeGrants.svg")
  .ui-container.ui-padding-top.ui-noMaxWidth
    .ui-row.ui-max-width1200.ui-padding-0-small
      .ui-col-6.ui-padding-right-55
        h2.ui-text-green.ui-title-contraint A Year of Growth and Learning
        p.ui-width-constraint.ui-gotham We’ve been on a journey to better understand what oral health equity means to us. <a href="http://www.coloradotrust.org/sites/default/files/SDOH_chart.pdf" target="_blank" class="ui-text-green">Social determinants</a>, such as race and ethnicity, income, geography and age, greatly impact a person’s smile. Our partner, the Colorado Health Institute, provided <a href="https://www.deltadentalcofoundation.org/wp-content/uploads/Exec-Sum-DDCOF-August-2017.pdf" target="_blank" class="ui-text-green">key insights</a> into disparities faced by communities across the state. Using this data, we created an evaluation framework to help us focus our efforts and measure change. This led to our Theory of Change, providing levers for action.
        p.ui-width-constraint.ui-gotham As a funder, we explored ways to be more <a href="https://www.linkedin.com/pulse/improving-oral-health-equity-new-funding-approaches-allison-cusick/" target="_blank" class="ui-text-green">equitable.</a> We refocused our efforts to listen more to community needs and priorities, and collaborate with communities to inform our work. We aim to truly develop relationships with our community partners, creating a network of people working together to improve oral health for those who have the most to gain.
      .ui-col-6      
        img.ui-margin-offset.ui-img-fit(src="images/TheoryMap.jpg") 

  #initiative
    +hero('images/hero2.jpg', 'blue', 'ribbon', 'Grant-making Highlights' )

  .ui-container.ui-padding-top.ui-noMaxWidth
    .ui-row.ui-max-width1200.ui-padding-0-small
      .ui-col-6
        h2.ui-text-blue.ui-title-contraint Open Funding
        p.ui-width-constraint.ui-medium-text.ui-padding-right33 The foundation launched Open Funding in 2018 to hear directly from Colorado communities. We wanted to know what oral health challenges they face and how they are addressing these barriers. This new funding opportunity provides grants for Colorado organizations to power community-led solutions.
        p.ui-width-constraint.ui-margin-top10px.ui-no-padding Staff spent the first six months of 2018 strategizing and crafting Open Funding. This included developing grant guidelines, implementing a grants management system to allow for online applications and creating an evaluation framework. 
        p.ui-width-constraint.ui-gotham.ui-margin-top10px.ui-no-padding Sixty-one applications proved that the need for dedicated oral health funding is significant. Site visits allowed staff to better understand local communities and needs, resulting in travel from Sterling to Cortez, Craig to Alamosa. 
        p.ui-width-constraint.ui-gotham.ui-margin-top10px.ui-no-padding As a result, we partnered with <a href="https://www.deltadentalcofoundation.org/wp-content/uploads/ResponsiveGrantFunding_DDCOF_1118.pdf" target="_blank" class="ui-text-blue">29 Colorado nonprofits</a>, awarding nearly $3.5 million in funding over three years. A wide variety of strategies were supported that advance oral health equity with a focus on accessing oral health care or preventing tooth decay. 
        p.ui-width-constraint.ui-gotham.ui-margin-top10px.ui-no-padding Partnering on community-driven solutions is essential to advancing our mission. The insight gained from these new relationships will inform how we deepen our focus and strengthen our partnerships with local communities in 2019.
      .ui-col-6.ui-gray-pure      
        img.ui-img-fit(src="images/Highlights.jpg") 
        h3.ui-highlights-header 2018 Open Funding Highlights
        ul.ul-styling
          li $3.47 million awarded over 3 years
          li 61 applications
          li 29 grants awarded
          li Grants ranged from $30,000 - $300,000
          li Statewide reach
    
  .ui-container
    +sandwich('blue')
    .ui-row
      .ui-col-6      
        img.ui-margin-offset.ui-img-fit.ui-margin-offset-large(src="images/Frontier.jpg") 
      .ui-col-6
        h2.ui-text-blue.ui-title-contraint Invited Grants
        p.ui-width-constraint.ui-medium-text.ui-padding-right33 In 2018 we partnered with several organizations, such as the <a href=" https://www.coloradokids.org/" target="_blank" class="ui-text-blue">Colorado Children’s Campaign,</a>, to advance oral health policy and strengthen the future oral health workforce.
        p.ui-width-constraint.ui-margin-top10px.ui-no-padding We were thrilled to see the Colorado Department of Public Health & Environment‘s <a href="https://www.colorado.gov/pacific/sites/default/files/PW_OH_BSSReport.pdf" target="_blank" class="ui-text-blue">Basic Screening Survey</a>, released in February of 2018. This survey happens once every five years and provides essential data. The results show that although there is still much work to be done, oral health for children in Colorado is improving. 
        p.ui-width-constraint.ui-gotham.ui-margin-top10px.ui-no-padding Over the past 14 years, more than 5,000 medical, pharmacy, nursing and other health profession students, residents and practitioners have participated in interprofessional training opportunities through the University of Colorado School of Dental Medicine’s <a href="http://www.ucdenver.edu/academics/colleges/dentalmedicine/CommunityService/Pages/Frontier-Center.aspx" target="_blank" class="ui-text-blue">Frontier Center 4 Health</a>.

  #partner
    +hero('images/hero3.jpg', 'orange', 'handshake', 'Initiatives' )

  .ui-container
    .ui-row.ui-margin-bottom-35
      .ui-col-6      
        h2.ui-text-orange.ui-title-contraint CO MDI   
        p.ui-width-constraint.ui-medium-text.ui-padding-right33 <a href="http://medicaldentalintegration.org/co-mdi-overview/" target="_blank" class="ui-text-orange">The Colorado Medical-Dental Integration (CO MDI) Project</a> is the first of its kind in the nation. It provides funding for medical practices to integrate a hygienist into their clinics. This allows for full scope dental hygiene services during regular medical checkups. The partnership between medical grantees and dental professionals increases access to care in rural and urban locations.    
        img.ui-img-fit(src="images/Sitting.jpg") 
        p.ui-width-constraint.ui-padding-right33 The foundation awarded funding to 16 medical practices as part of CO MDI Wave I in 2015.  <a href="https://www.deltadentalcofoundation.org/wp-content/uploads/COMDI-WaveII_DDCOF_PR_0418.pdf" target="_blank" class="ui-text-orange">Wave II</a> of the project was launched in Spring 2018. We partnered with the <a href="https://www.coloradohealth.org/" target="_blank" class="ui-text-orange">Colorado Health Foundation</a> to provide $3.3 million in CO MDI funding over four years for 10 <a href="https://www.deltadentalcofoundation.org/wp-content/uploads/COMDI_MontroseDailyPress_0418.pdf" target="_blank" class="ui-text-orange">additional medical practices</a>. Wave II clinics began seeing patients in Fall 2018.
      .ui-col-6.ui-gray.ui-margin-top-35
        img.ui-margin-top-25.ui-margin-offset.ui-img-fit(src="images/coNumbers.svg")
        p.ui-width-constraint.ui-margin-top10px.ui-no-padding <span style="color:#E1714A;font-weight:600;">"Medical-dental integration works!</span> The new hygienist, Alysia, has been able to identify pediatric patients in the medical setting who are in need of immediate treatment. Alysia found a child with deep caries at or near the pulp and called over to the dental clinic. She explained the situation and the patient was scheduled that day. The patient had a limited exam and it was determined the patient would need a restoration that day or they would need a root canal within weeks on a permanent tooth.  The restoration was completed that day and the patient remained asymptomatic."        
        p.ui-quote - Sheridan Health Services
    +sandwich('orange')
    .ui-row.ui-margin-top-35
      .ui-col-6.ui-margin-top-35
        img.ui-margin-top-25.ui-margin-offset.ui-img-fit(src="images/FunCharts.jpg") 
      .ui-col-6      
        h2.ui-text-orange.ui-title-contraint Land of Smiles  
        p.ui-width-constraint.ui-medium-text.ui-padding-right33 Land of Smiles is a school-based theater program for K-3 students. Starring Tooth Wizard and his antagonist, Plaque Man, this fun and interactive show teaches the value of good oral health.
        img.ui-img-fit(src="images/FunDentist.jpg") 
        p.ui-width-constraint.ui-padding-right33 After the show, each student receives a Smile Bag containing a toothbrush, toothpaste and floss. In 2018, the program distributed 25,511 smiles bags to students across the state! This year was focused on reaching schools with a high population of students eligible for free and reduced lunch and schools in rural communities.
        p.ui-width-constraint.ui-padding-right33 <span style="color:#E1714A;font-weight:600;">“A parent of an ECE student at Valverde Elementary said her daughter was so excited about the show and was showing her who all the characters were in the little book.</span>  The mom used to have a daily battle with her to brush her teeth and ever since, her daughter is excited to brush her teeth and taking more accountability for her oral health! The actors are so nice and kind and it was just a pleasure to have them at our school!”  
        p.ui-quote - Valverde and Columbian School Nurse
  .ui-container
    .ui-row.ui-orange-header
      .ui-col-4 
        p.ui-media Media Highlights
      .ui-col-3.ui-media-link 
        p <a href="https://www.deltadentalcofoundation.org/resources/media/" style="color:#fff;">View More Media Highlights &#62;</a>
    .ui-row.ui-margin-top-35
      .ui-col-3
        img.ui-img-fit(src="images/video1.jpg") 
      .ui-col-8
        p JANUARY 11, 2019
        p.ui-orangeTitle.ui-text-orange <a href="https://denver.cbslocal.com/2019/01/10/delta-dental-oral-health-screenings-seniors/" target="_blank" class="ui-text-orange" style="text-decoration:none">‘I Can Smile’: Low-income Seniors Benefit from Delta Dental Grant</a>
        p A $45,000 grant from the Delta Dental of Colorado Foundation is helping bring important oral health care to low income seniors. Gloria Phillips says she keeps busy by sewing, doing puzzles, and taking care of her health.
    .ui-row.ui-margin-top-35
      .ui-col-3
        img.ui-img-fit(src="images/video2.jpg") 
      .ui-col-8
        p DECEMBER 18, 2018
        p.ui-orangeTitle.ui-text-orange <a href="https://www.fortmorgantimes.com/2018/12/17/34m-grant-supports-oral-health/" target="_blank" class="ui-text-orange" style="text-decoration:none">$3.4M Grant Supports Oral Health</a>
        p Improving access to dental care and preventing tooth decay will be the focus of a new grant from Delta Dental of Colorado Foundation, which will provide $3.4 million in funding through the next three years to 29 organizations.
    .ui-row.ui-margin-top-35
      .ui-col-3
        img.ui-img-fit(src="images/video3.jpg") 
      .ui-col-8
        p OCTOBER 11, 2018
        p.ui-orangeTitle.ui-text-orange <a href="https://www.lajuntatribunedemocrat.com/news/20181011/land-of-smiles-brings-laughs-amp-lessons" target="_blank" class="ui-text-orange" style="text-decoration:none">Land of Smiles Brings Laughs and Lessons</a>
        p The Land of Smiles program sponsored by Delta Dental visited La Junta Primary and Intermediate Schools on Wednesday. The program was hilarious, with the Tooth Wizard (product of University of Northern Colorado Drama Program) and Plaque Man (from Mesa College Drama Department).
    .ui-row.ui-margin-top-35
      .ui-col-3
        img.ui-img-fit(src="images/video4.jpg") 
      .ui-col-8
        p MAY 8, 2018
        p.ui-orangeTitle.ui-text-orange <a href="https://www.montrosepress.com/news/grant-money-to-help-river-valley-services-to-grow/article_7341be2c-526f-11e8-a77b-e3c70c7a1fea.html" target="_blank" class="ui-text-orange" style="text-decoration:none">Grant Money to Help River Valley Services to Grow</a>
        p River Valley Family Health Center CEO Jeremy Carroll said he can’t believe the local nonprofit will add to its dental care team only nine months after adding the service to its site.

  #finances
    +hero('images/hero4.jpg', 'purple', 'piggy', 'Finances & Who We Are' )

  .ui-container
    .ui-row
      .ui-col-4.ui-right-div
        h2.ui-text-purple Finances
        p As a 501(c)(3), we are funded by the nonprofit Delta Dental of Colorado. In 2018, we celebrated the company’s 60th anniversary and every day we are grateful to the company and Board of Trustees for the financial support they provide for our work. Approximately 88% of our budget expenditures directly support our programs and initiatives.
        br
        a.ui-text-purple(href="https://www.deltadentalcofoundation.org/wp-content/uploads/DDCOF_990.pdf " target="_blank") See Our 990
      .ui-col-4.ui-padding-left
        h4 2018 Board of Directors
        .ui-list
          div <strong>Marilyn E. Taylor</strong>, <em>Board Chair</em>
          div <strong>Cathy Garcia</strong>, <em>Governance Chair</em>
          div <strong>Mary Noonan</strong>, <em>Finance Chair</em>
          div <strong>Scott Hamilton</strong>, <em>DDS</em>
          div <strong>Eric France</strong>, <em>MD, MSPH</em>
          div <strong>Helen Drexler</strong>, <em>DDCO President & CEO</em>
          div <strong>Richard Call</strong>, <em>DMD, MS</em>
          div <strong>Kim Kretsch</strong>, <em>DDS</em>
          div <strong>Luella Chavez D’Angelo</strong>
          a.ui-text-purple(href="https://www.deltadentalcofoundation.org/about-us/staff-board/" target="_blank") Read Bios
      .ui-col-4 
        h4 Staff
        .ui-list
          div <strong>Allison Cusick</strong>, <em>Executive Director</em>
          div <strong>Monica Woods</strong>, <em>Executive Assistant</em>
          div <strong>Megan Wilson</strong>, <em>Director of Programs</em>
          div <strong>Amy Maillet</strong>, <em>Communications Manager</em>
          div <strong>Cherith Flowerday</strong>, <em>Program Officer</em>
          div <strong>Marybeth Goodwin</strong>, <em>Senior Program Officer</em>
          div <strong>Mirella Chavez</strong>, <em>Associate Program Officer</em>
          div <strong>Veronica Contreras de Raya</strong>, <em>Communications and Graphic Design Specialist</em>
          a.ui-text-purple(href="https://www.deltadentalcofoundation.org/about-us/staff-board/" target="_blank") Read Bios