mixin nav()
  .nav
    a(href="#smiles").nav__item
      +icon('tooth-sparkle')
      .nav__label We're All Smiles
    a(href="#initiative").nav__item
      +icon('ribbon')
      .nav__label Initiative Highlights
    a(href="#partner").nav__item
      +icon('handshake')
      .nav__label Partner Highlights
    a(href="#finances").nav__item
      +icon('piggy')
      .nav__label Finances & Who We Are