mixin footer()
  .footer
    .footer__wrapper
      .footer__left
        h3.ui-text-purple Connect With Us
        p No one knows your community like you do. We welcome the opportunity to have a conversation about how your organization’s work fits within our strategic focus areas.
        br
        br
        .footer__section-title Please contact:
        .footer__litem
          +icon('email')
          a(href="mailto:hello@ddpco.com") hello@ddpco.com
      .footer__right
        .footer__section-title For more information, visit: 
        .footer__litem
          +icon('web')
          a(href="http://deltadentalcofoundation.org",target="_blank") deltadentalcofoundation.org
        .footer__litem
          +icon('pin')
          span 
            | 4582 S Ulster St, Ste 800 
            br
            | Denver, CO 80237 
        .footer__litem
          +icon('phone')
          span 303-741-9300