mixin hero(image = "images/hero1.jpg", color = "purple", icon="piggy", title="Finances and who we are")
  .hero(class=`hero--${color}`)
    .hero__bg(style=`background-image: url(${image})`)
    .hero__title
      +icon(icon)
      h2=title