include components/index.pug
doctype html

html

  //- Import setup from individual page
  block setup

  head
    title Delta Dental
    meta(charset="utf-8")
    meta(name="MobileOptimized" content="width")
    meta(name="HandheldFriendly" content="true")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/7516596/6426392/css/fonts.css")
    link(rel="stylesheet" href="styles/global.css")
    link(rel="stylesheet" href="styles/components.css")

  body
    div(class=`layout-${pageName.toLowerCase()}`)

      //- Page content rendered here
      .page-content
        +nav()
        block display
        +footer()

      //- Script includes
      script(src='libraries/elementary.min.js')
      script(src='libraries/jquery.min.js')
      script(src='libraries/lodash.min.js')
      script(src='scripts/site.js')
      script(src='scripts/components.js')



