@import "../../styles/sass-includes/index";

.img-atr {
  width: 100%;
}
.img-atr__image{
  width: 100%;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
.img-atr__atr{
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
  text-decoration: none !important;
  a &{
    text-decoration: none !important;
  }
}